@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-background-color: hsl(185, 41%, 84%);

    --strong-cyan: hsl(172, 67%, 45%);
    --strong-cyan-hover: hsl(172, 58%, 73%);

    --input-error-color: hsl(30, 100%, 41%);

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --very-light-gryish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
  } 

  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }